{% extends "base.html" %}
{% load static %}
{% load carts_tags %}

{% block content %}

<div class="row">
    <div class="container mt-5">
        <div class="row">
            <!-- Категории -->
            <div class="col-md-12">
                <div class=" bg-white p-4 mb-4 mx-1" style="border-radius: 15px; border: #5a4531 solid 1px; box-shadow: 0px 0px 10px #5a4531; width: 750px;">
                    <h3 class="text-center mb-4">Категории</h3>
                    <!-- Разметка таблиц -->
                    <form method="POST">
                        {% csrf_token %}
                        <label for="name" class="form-label">Название: </label><br>
                        <input class="form-control" type="text" id="name" name="name" value="{{ category.name }}"><br>
                        <label for="slug" class="form-label">URL: </label><br>
                        <input class="form-control" type="text" id="slug" name="slug" value="{{ category.slug }}"><br>
                        <strong><a href="{% url "user:admin-panel" %}" style="float: left; color:#68370f; font-size: 18px;"><p>Вернуться</p></a></strong>
                        <input type="submit" class="btn" style="background-color: #efd5bc; color: #33200e; border: #5a4531 solid 1px; margin-left: 30%;" 
                        value="Сохранить">
                    </form>
                    
                    <!-- Закончилась разметка заказов -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}